/*

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css using gulp dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */
@import 'vars.css';
@import 'components/global.css';
@import 'components/ghost.css';
@import 'components/lists.css';
@import 'components/tables.css';
@import 'components/forms.css';
@import 'components/buttons.css';
@import 'components/actions.css';
@import 'components/animations.css';

/* Main - Theme styles
/* ---------------------------------------------------------- */

body {
    background: var(--color-bg-base);
    font-family: var(--font-sans-serif);
    transition: background 0.3s ease-out;
    transition-delay: 0.25s;
}

.home-template {
    overflow: visible;
}

.img {
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    display: block;
    height: 100%;
    width: 100%;
}

.hidden {
    position: absolute;
    text-indent: -9999px;
    visibility: hidden;
}

/* Layout
/* ---------------------------------------------------------- */

.site-wrapper {
    min-height: 100vh;
}

.page-head {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 70%;
    padding: 13vw 0;
    text-align: center;
}

.error-head {
    height: 75vh;
}

.error-head h1 {
    font-size: 7rem;
    font-weight: var(--font-heavy);
    letter-spacing: 10px;
    line-height: 1.1em;
    margin: 0;
}

.error-head p {
    color: var(--color-base--50l);
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.error-link {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-decoration: underline;
}

.page-head-title {
    color: var(--color-base);
    font-size: 4.2rem;
    margin: 0;
}

.post-content h2 {
    font-size: 2rem;
}

.post-content .post-full-content {
    margin: 4rem 0;
    width: 100%;
}

.post-content .about-post {
    margin: 2rem 0;
    width: 100%;
}

.blog-info {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 1.8rem;
}

.blog-info.footer {
    justify-content: space-between;
}

.post-content + .blog-info.footer {
    align-items: center;
    border-top: 0.1rem solid var(--color-primary--50l);
    margin: 5rem auto 0;
    max-width: 90rem;
    padding: 2rem;
}

.blog-info h1,
.blog-info h2,
p {
    margin: 0 0 0.35em;
}

.blog-info > *:last-child {
    margin: 0;
}

@media (max-width: 500px) {
    .page-head-title {
        font-size: 2rem;
    }
}

.page-head-description {
    color: var(--color-bg-base---20l);
    font-size: 2.2rem;
    line-height: 1.35em;
    margin: 0 0 1.6vw;
}
@media (max-width: 500px) {
    .page-head-description {
        font-size: 1.6rem;
    }
}

.site-foot {
    color: var(--color-bg-base---20l);
    font-size: 1.4rem;
    margin: 3vw 0 1vw;
    text-align: center;
}

.site-foot a {
    color: var(--color-base);
}

/* Post Feed
/* ---------------------------------------------------------- */

.post-feed {
    background: var(--color-bg-primary);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 160rem;
}

.post-card {
    background: linear-gradient(0.375turn, var(--color-base---3l) 0%, var(--color-base) 100%) center
        center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width: 0) {
    .post-feed {
        grid-auto-rows: 25rem;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 800px) {
    .post-feed {
        grid-auto-rows: 45rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1600px) {
    .post-feed {
        grid-template-columns: repeat(3, 1fr);
    }
}

.post-card-large {
    flex: 1 1 100%;
}

.post-card-link {
    display: block;
    flex: 1 1 auto;
}

.post-card-content {
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    color: var(--color-light-bg-base);
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.5s cubic-bezier(0.33, 0, 0.2, 1);
}

.post-card.with-image .post-card-content {
    opacity: 0;
}

.post-card-link:hover .post-card-content,
.post-card-link:focus .post-card-content {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

.post-card-title {
    display: inline-block;
    font-size: 3.4rem;
    margin: 0;
    max-width: 70%;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

/* Posts without images */
.post-card.no-image::before {
    bottom: -0.15em;
    color: rgba(0, 0, 0, 0.2);
    content: counter(posts);
    display: block;
    font-size: 28vw;
    font-weight: var(--font-heavy);
    letter-spacing: -0.1em;
    line-height: 1em;
    position: absolute;
    right: 5vw;
}

.post-card.no-image .post-card-content {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4vw;
}

.post-card.no-image .post-card-title {
    font-size: 5rem;
    line-height: 1.15em;
    text-align: left;
}

.post-card.no-image:hover .post-card-title,
.post-card.no-image:focus .post-card-title {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .post-card.no-image .post-card-title {
        font-size: 3.4rem;
    }
}
@media (max-width: 700px) {
    .post-card.no-image::before {
        font-size: 50vw;
    }
}

/* Post Content
/* ---------------------------------------------------------- */

.blog-title {
    border-bottom: 0.2rem solid var(--color-primary);
}

.nav-arrow {
    font-size: 3rem;
    min-width: 3rem;
    padding: 2rem;
}

.title-and-nav {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 3rem 0;
    width: 100%;
}

.title-and-nav h2 {
    margin: 0;
}

.post-content {
    align-items: center;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    padding: 0 0 6vw;
}

.centerer {
    margin: 0 5vw;
    max-width: 120rem;
}

.post-content-header {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.post-content-title {
    color: var(--color-base);
    margin: 0 0 3vw;
    text-align: center;
}

.post-content-body {
    font-size: 1.9rem;
    line-height: 1.65em;
}
@media (max-width: 500px) {
    .post-content-body {
        font-size: 1.7rem;
    }
}

.post-content-body h1,
.post-content-body h2,
.post-content-body h3,
.post-content-body h4,
.post-content-body h5,
.post-content-body h6 {
    color: var(--color-base);
}

.post-content-body li {
    word-break: break-word;
}

.post-content-body li p {
    margin: 0;
}

.post-content-body iframe {
    margin: 0 auto !important;
}

.post-content-body blockquote {
    border-left: var(--color-primary) 3px solid;
    margin: 0 0 1.5em;
    padding: 0 1.5em;
}

.post-content-body blockquote p {
    color: inherit;
    font-size: inherit;
    font-style: italic;
    line-height: inherit;
    margin: 0 0 1em;
}

.post-content-body blockquote p:last-child {
    margin-bottom: 0;
}

.post-content-body code {
    background: var(--color-bg);
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: 400 !important;
    line-height: 1em;
    padding: 0 5px 2px;
}

.post-content-body p code {
    word-break: break-all;
}

.post-content-body pre {
    background: var(--color-base---3l);
    border: var(--color-base---10l) 1px solid;
    border-radius: 5px;
    color: var(--color-bg);
    font-size: 1.4rem;
    line-height: 1.5em;
    margin: 1.5em 0 3em;
    max-width: 100%;
    overflow-x: auto;
    padding: 20px;
}

.post-content-body pre code {
    background: transparent;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
}

.post-content-body pre code :not(span) {
    color: inherit;
}

.post-content-body .fluid-width-video-wrapper {
    margin: 1.5em 0 3em;
}

.post-content-body hr {
    margin: 4vw 0;
}

.post-content-body hr::after {
    background: var(--color-bg-base--5l);
    box-shadow: var(--color-bg) 0 0 0 5px;
    content: '';
    display: block;
    height: 30px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: -15px;
    transform: rotate(0.125turn);
    width: 1px;
}

.footnotes-sep {
    margin-bottom: 30px;
}

.footnotes {
    font-size: 1.5rem;
}

.footnotes p {
    margin: 0;
}

.footnote-backref {
    box-shadow: none !important;
    color: var(--color-primary) !important;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none !important;
}

/* Author Archive
/* ---------------------------------------------------------- */

.author-meta {
    align-items: center;
    color: var(--color-bg-base---20l);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.author-links {
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.author-links a {
    color: var(--color-base);
    display: block;
    margin: 0;
    opacity: 0.4;
    padding: 0 12px;
}

.author-links a:hover,
.author-links a:focus {
    opacity: 1;
    text-decoration: none;
}

.author-links .divider {
    display: inline-block;
    margin: 0 3px;
}

/* Page Template
/* ---------------------------------------------------------- */

.page-template .post-content-body h1,
.page-template .post-content-body h2,
.page-template .post-content-body h3 {
    text-align: center;
}
