/* Animations
/* ---------------------------------------------------------- */

.transition-fade {
    animation: slideUp 0.9s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    opacity: 1;
    overflow: visible;
    transform: translate3d(0, 4vh, 0);
    transition: 0.25s;
}
html.is-animating .transition-fade {
    opacity: 0;
}

@keyframes slideUp {
    0% {
        transform: translate3d(0, 4vh, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
