/* Styling for Ghost-specific elements
/* ---------------------------------------------------------- */

.kg-card {
    margin: 7vw 0;
}

.kg-embed-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.kg-image {
    max-height: 120rem;
    max-width: 100%;
}

.kg-card figcaption {
    color: var(--color-base);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.4em;
    opacity: 0.4;
    padding: 1.5rem;
    text-align: center;
}

.kg-width-wide {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    min-width: 100%;
    position: relative;
    transform: translateX(calc(50vw - 50%));
    width: 75vw;
}

.kg-width-full {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    min-width: 100%;
    position: relative;
    transform: translateX(calc(50vw - 50%));
    width: 94vw;
}

.kg-width-full figcaption {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

@media (max-width: 800px) {
    .kg-width-full {
        width: 100vw;
    }
    .kg-width-full figcaption {
        padding-left: 6vw;
    }
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    min-width: 100%;
    position: relative;
    transform: translateX(calc(50vw - 50%));
    width: 75vw;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    height: 100%;
    margin: 0;
    width: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
    margin-top: calc(-7vw + 0.75em);
}

.kg-bookmark-card {
    margin: 5vw 0;
}

.kg-bookmark-container {
    color: var(--color-base);
    display: flex;
    min-height: 148px;
    text-decoration: none;
}

.kg-bookmark-container:hover,
.kg-bookmark-container:focus {
    text-decoration: none;
}

.kg-bookmark-content {
    align-items: flex-start;
    background: var(--color-bg-primary);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    padding: calc(1.75 * var(--margin));
}

.kg-bookmark-title {
    color: var(--color-base);
    font-size: 100%;
    font-weight: 600;
    line-height: 1.5em;
}

.kg-bookmark-container:hover .kg-bookmark-title,
.kg-bookmark-container:focus .kg-bookmark-title {
    color: var(--color-primary);
    opacity: 1;
}

.kg-bookmark-description {
    -webkit-box-orient: vertical;
    display: box;
    font-size: 90%;
    font-weight: 400;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    margin-top: var(--margin);
    max-height: 3em;
    opacity: 0.75;
    overflow-y: hidden;
}

.kg-bookmark-thumbnail {
    max-height: 100%;
    min-width: 33%;
    position: relative;
}

.kg-bookmark-thumbnail img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

.kg-bookmark-metadata {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 90%;
    font-weight: 400;
    margin-top: var(--margin);
    opacity: 0.75;
}

.kg-bookmark-icon {
    height: 24px;
    margin-right: 8px;
    width: 24px;
}

.kg-bookmark-author {
    line-height: 1.5em;
}

.kg-bookmark-author::after {
    content: '—';
    margin: 0 6px;
}

.kg-bookmark-publisher {
    line-height: 1.5em;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 850px) {
    .kg-bookmark-card {
        margin: 7vw 0;
    }
}

@media (max-width: 500px) {
    .kg-bookmark-container {
        flex-direction: column;
    }

    .kg-bookmark-content {
        order: 2;
        padding: var(--margin);
    }

    .kg-bookmark-thumbnail {
        min-height: 22rem;
        order: 1;
        width: 100%;
    }
}
